
$maxWidth: 1355px;
$gap: 16px;
$small: 375px; 
$medium: 768px;
$large: 1200px;

$primary:#cc9d47;
$secondary:#807054;
$light:#f4f3f3;
$dark:#2b2b2b;
$link:#9fb3cc;
$mainFont: 'Mulish', sans-serif;
$secondaryFont:'Fraunces', serif;


.row {  
  margin-left: auto;
  margin-right: auto;
  max-width: $maxWidth;
  width: 100%;
  position: relative;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  &.full {
    max-width: none;
  }

  .row {
   margin-left: -#{rem($gap)};
    // margin-left: calc(-($gap));
    padding-left: 0;
    padding-right: 0;
    max-width: calc(100% + #{rem($gap * 2)});
    width: calc(100% + #{rem($gap * 2)});
  }

  > .row {
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    max-width: 100%;
    width: 100%;
    flex-basis: 100%;
  }

  &.breakRight, 
  &.breakLeft {
    max-width: calc(50vw + #{$maxWidth / 2 - 9});
  }
  &.breakRight {
    margin-left: auto;
    margin-right: 0;
    justify-content: flex-start;
  }
  &.breakLeft {
    margin-right: auto;
    margin-left: 0;
    justify-content: flex-end;
  }
}






// .col-1,
// .col-2,
// .col-3,
// .col-4,
// .col-5,
// .col-6,
// .col-7,
// .col-8,
// .col-9,
// .col-10,
// .col-11,
// .col-12 {
//   width: 100%;
//   max-width: $maxWidth -;
// }
.col-1 {max-width: 8.33%; flex-basis: 8.33%}
.col-2 {max-width: 16.66%; flex-basis: 16.66%}
.col-3 {max-width: 25%; flex-basis: 25%}
.col-4 {max-width: 33.33%; flex-basis: 33.33%}
.col-5 {max-width: 41.66%; flex-basis: 41.66%}
.col-6 {max-width: 50%; flex-basis: 50%}
.col-7 {max-width: 58.33%; flex-basis: 58.33%}
.col-8 {max-width: 66.66%; flex-basis: 66.66%}
.col-9 {max-width: 75%; flex-basis: 75%}
.col-10 {max-width: 83.33%; flex-basis: 83.33%}
.col-11 {max-width: 91.66%; flex-basis: 91.66%}
.col-12, .col {
    max-width: 100%;
    flex-basis: 100%;
    width: 100%;
    float: left; 
    padding-left: $gap; 
    padding-right: $gap; 
    flex: 0 0 auto; 
    flex-grow: 1; 
}
@media only screen and (min-width: $small) {
  .small-1 {max-width: 8.33%; flex-basis: 8.33%}
  .small-2 {max-width: 16.66%; flex-basis: 16.66%}
  .small-3 {max-width: 25%; flex-basis: 25%}
  .small-4 {max-width: 33.33%; flex-basis: 33.33%}
  .small-5 {max-width: 41.66%; flex-basis: 41.66%}
  .small-6 {max-width: 50%; flex-basis: 50%}
  .small-7 {max-width: 58.33%; flex-basis: 58.33%}
  .small-8 {max-width: 66.66%; flex-basis: 66.66%}
  .small-9 {max-width: 75%; flex-basis: 75%}
  .small-10 {max-width: 83.33%; flex-basis: 83.33%}
  .small-11 {max-width: 91.66%; flex-basis: 91.66%}
  .small-12 {max-width: 100%; flex-basis: 100%;}
  // .hidden-small {
  //   display: block;
  // }
  }

@media only screen and (min-width: $medium) {
  .medium-1 {max-width: 8.33%; flex-basis: 8.33%}
  .medium-2 {max-width: 16.66%; flex-basis: 16.66%}
  .medium-3 {max-width: 25%; flex-basis: 25%}
  .medium-4 {max-width: 33.33%; flex-basis: 33.33%}
  .medium-5 {max-width: 41.66%; flex-basis: 41.66%}
  .medium-6 {max-width: 50%; flex-basis: 50%}
  .medium-7 {max-width: 58.33%; flex-basis: 58.33%}
  .medium-8 {max-width: 66.66%; flex-basis: 66.66%}
  .medium-9 {max-width: 75%; flex-basis: 75%}
  .medium-10 {max-width: 83.33%; flex-basis: 83.33%}
  .medium-11 {max-width: 91.66%; flex-basis: 91.66%}
  .medium-12 {max-width: 100%; flex-basis: 100%;}
}

  // .hidden-medium {
  //   display: block;
  // }


@media only screen and (min-width: $large) {
  .large-1 {
    max-width: 8.33%; 
    flex-basis: 8.33%
  }
  .large-2 {
    max-width: 16.66%;
     flex-basis: 16.66%
    }
  .large-3 
  {max-width: 25%; 
    flex-basis: 25%
  }
  .large-4 
  {max-width: 33.33%; 
    flex-basis: 33.33%
  }
  .large-5 {
    max-width: 41.66%; 
    flex-basis: 41.66%
  }
  .large-6 {
    max-width: 50%; 
    flex-basis: 50%
  }
  .large-7 {
    max-width: 58.33%; 
    flex-basis: 58.33%
  }
  .large-8 {
    max-width: 66.66%; 
    flex-basis: 66.66%
  }
  .large-9 {
    max-width: 75%; 
    flex-basis: 75%
  }
  .large-10 {
    max-width: 83.33%; 
    flex-basis: 83.33%
  }
  .large-11 {
    max-width: 91.66%; 
    flex-basis: 91.66%
  }
  .large-12 {
    max-width: 100%; 
    flex-basis: 100%;
  }
}

 


