$gap : 18px;
$rowMaxWidth: 1440px;
$small: 576px;
$medium: 768px;
$large: 1200px;

$primary:#cc9d47;
$secondary:#807054;
$light:#f4f3f3;
$dark:#2b2b2b;
$link:#9fb3cc;
$mainFont: 'Mulish', sans-serif;
$secondaryFont:'Fraunces', serif;



    
    .navi{
        height: auto;
        width: 100%;
        transform: translateX(0);
        z-index: 99999;
        display: flex;
    
        align-items: center;
        @media screen and (min-width:$medium){
            display: flex;
            align-content: flex-end;
            justify-content: flex-end;
        }
     
        @media screen and (min-width:$large) {
            padding: 0;
            
        }
        .navigation{
            position: relative;
            font-weight: 700;
            font-size: 16px;
            @media screen and (min-width:$medium){
                display:flex;
                align-items: flex-end;
                justify-content: flex-end;
                align-content: flex-end;
            }
            ul{
                @media screen and (min-width:$large) {
                    position: relative;
                  
                }
                list-style: none;
                display: none;
                position: absolute;
                height: auto;
                width: 90vw;
                left: 55%;
                top: -1rem;
                transform: translateX(-50%);
                padding: 2rem;
                background-color:$primary;

                z-index: 2;
                @media screen and (min-width: $medium) {
                    position: relative;
                    display: inline-flex;

                    width: auto;
                    height: auto;
                    justify-content: space-around;
                    padding: $gap 0;
                    background: none;
                    transform: translateX(0);
                    left: auto;
                    top: 0;
                    padding: 0;
                   
                }
                li{
                    list-style: none;
                    padding: $gap 0;
                    a{
                        text-decoration: none;
                        color: #fff;
                        letter-spacing: -20;
                        
                        &.contact{
                            background-color: #fff;
                            border-radius: 35px;
                            font-family: $secondaryFont;
                            text-transform: uppercase;
                            letter-spacing: normal;
                            font-weight: 700;
                            color: #2b2b2b;
                        }

                        @media screen and (min-width: $large){
                            // color: $dark;
                            padding:  18px 25px 18px 25px;
                            &:hover{
                              color: $primary;

                            }
                        }
                        &:hover,&.active {
                        // background-color: #ddd;
                        color:$dark;
                        @media screen and (min-width:$large) {
                            color:$primary;
                        }
                        
                      }
                    }
                  
                   
                }
                #links{
                    
                    width: 100%;
                    justify-content: space-around;
                  
                    
                   
                }

            }

        }
   
    }

.navAdd{
    border-top: 1px solid $light;
    width: 100%;
    margin-bottom: 80px;
    @media screen and (min-width:$large) {
        margin-bottom: 0;
    }
    ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media screen and (min-width:$medium) {
            justify-content: space-around;
        }
        @media screen and (min-width:$large) {
            justify-content: center;
           
        }
        li{
            list-style: none;
            margin: .5rem ;
            @media screen and (min-width:$large){
                margin: $gap;
            }
            a{
                text-decoration: none;
                color: $dark;
            }
        }


    }

}