* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  line-height: 1.5em;
}
* ::before, * ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  height: 100vh;
}

img {
  vertical-align: bottom;
  float: none;
  height: auto;
  max-width: 100%;
  width: auto;
  max-height: 80vh;
}
img.icons {
  padding: 2rem;
}

p {
  font-family: "Mulish", sans-serif;
  color: #2b2b2b;
  padding-bottom: 18px;
}

a {
  color: #9fb3cc;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
a:hover {
  color: #807054;
}

a.btn {
  background-color: #cc9d47;
  display: inline-block;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 30px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
a.btn:hover {
  background-color: #807054;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .h1, .h2, .h3, .h4 {
  font-family: "Fraunces", serif;
  color: #2b2b2b;
  text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 500;
  display: block;
  margin-bottom: 2rem;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, .h1 span, .h2 span, .h3 span, .h4 span, .h5 span, .h6 span, .h1 span, .h2 span, .h3 span, .h4 span {
  font-family: "Montserrat", sans-serif;
  display: block;
  width: 100%;
  color: #cc9d47;
  font-weight: 600;
}

h1, .h1 {
  font-size: 26px;
}
h1 span, .h1 span {
  font-size: 20px;
  line-height: 28px;
}
h1 span.small, .h1 span.small {
  font-size: 18px;
  line-height: 24px;
}
@media screen and (min-width: 375px) {
  h1, .h1 {
    font-size: 28px;
  }
  h1 span, .h1 span {
    font-size: 22px;
    line-height: 30px;
  }
  h1 span.small, .h1 span.small {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (min-width: 768px) {
  h1, .h1 {
    font-size: 32px;
    line-height: 35px;
  }
  h1 span, .h1 span {
    font-size: 22px;
    line-height: 35px;
  }
  h1 span.small, .h1 span.small {
    font-size: 20px;
    line-height: 30px;
  }
}
h2, .h2 {
  font-size: 25px;
}
h2 span, .h2 span {
  font-size: 20px;
  line-height: 28px;
}
h2 span.small, .h2 span.small {
  font-size: 18px;
  line-height: 24px;
}
@media screen and (min-width: 375px) {
  h2, .h2 {
    font-size: 26px;
  }
  h2 span, .h2 span {
    font-size: 20px;
    line-height: 30px;
  }
  h2 span.small, .h2 span.small {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (min-width: 768px) {
  h2, .h2 {
    font-size: 30px;
    line-height: 35px;
  }
  h2 span, .h2 span {
    font-size: 20px;
    line-height: 35px;
  }
  h2 span.small, .h2 span.small {
    font-size: 20px;
    line-height: 30px;
  }
}
h3, .h3 {
  font-size: 25px;
}
h3 span, .h3 span {
  font-size: 18px;
  line-height: 28px;
}
@media screen and (min-width: 375px) {
  h3, .h3 {
    font-size: 26px;
  }
  h3 span, .h3 span {
    font-size: 18px;
    line-height: 30px;
  }
}
@media screen and (min-width: 768px) {
  h3, .h3 {
    font-size: 28px;
    line-height: 35px;
  }
  h3 span, .h3 span {
    font-size: 18px;
    line-height: 35px;
  }
}
.space {
  padding-bottom: 100px;
}
@media screen and (min-width: 375px) {
  .space {
    padding-bottom: 110px;
  }
}
@media screen and (min-width: 768px) {
  .space {
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .space {
    padding-bottom: 140px;
  }
}
.space.last {
  padding-bottom: 0;
}
.space.first {
  padding-top: 100px;
}
@media screen and (min-width: 375px) {
  .space.first {
    padding-top: 110px;
  }
}
@media screen and (min-width: 768px) {
  .space.first {
    padding-top: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .space.first {
    padding-top: 140px;
  }
}

dl dt {
  padding: 18px;
  padding-bottom: 0;
  font-weight: 600;
  display: block;
  background-color: #f4f3f3;
}
dl dd {
  background-color: #f4f3f3;
  padding-top: 0;
  padding: 18px;
}
dl dd:not(:last-child) {
  margin-bottom: 18px;
}

section article {
  width: 100%;
}
section article.middle {
  display: block;
}
@media screen and (min-width: 1200px) {
  section article.middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}