$maxWidth: 1355px;
$gap: 18px;
$small: 375px; 
$medium: 768px;
$large: 1200px;

$soft-red:#fe7867;
$yellow:#fad400;
$dark-cyan:#25564b; //graphic design text
$dark-blue: #19536b; //photography text
$medium-cyan: #458c7e; //footer  test test test test 

$very-dark-blue: #23303e;
$very-dark-grayish-blue: #5a636c; 
$dark-grayish-blue: #818498; 
$grayish-blue:#a7abae;
$white: #ffffff;

$mainFont: 'Mulish', sans-serif;
$secondaryFont:'Fraunces', serif;