$maxWidth: 1355px;
$gap: 20px;
$small: 376px; 
$small-extra: 600px;
$medium: 1000px;
$large: 1440px;

$soft-red:hsl(7, 99%, 70%);
$yellow:hsl(51, 100%, 49%);
$dark-cyan:hsl(167, 40%, 24%); //graphic design text
$dark-blue: hsl(198, 62%, 26%); //photography text
$medium-cyan: hsl(168, 34%, 41%); //footer

$very-dark-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%); 
$dark-grayish-blue: hsl(232, 10%, 55%); 
$grayish-blue:hsl(210, 4%, 67%);
$white: #ffffff;

$mainFont: 'Barlow', sans-serif;
$secondaryFont:'Fraunces', serif;

$link:#9fb3cc;
